<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451942244187-05hh4d1rudej6juho4qhmoc8snjlcq4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451942244187-05hh4d1rudej6juho4qhmoc8snjlcq4l</string>
	<key>API_KEY</key>
	<string>AIzaSyDjCWS-C8bWNDYUypzJMh2zPK202N39F1o</string>
	<key>GCM_SENDER_ID</key>
	<string>451942244187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authentication-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-portfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451942244187:ios:69d34550659548772ec47e</string>
</dict>
</plist>